.section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .panel {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .panel1 {
    background-color: darkblue;
    color: white;

    .hera {
      position: absolute;
      font-size: 50px;
      opacity: 1;
      transition: all 0.3s;
    }
  }
  .panel2 {
    background-color: rgba(0,0,0,0.4);
    color: #fff;

    .panel2_inner {
      max-width: 1000px;
      // margin: 100px auto;
      display: flex;
      flex-direction: column;
      gap: 100px;

      .line {
        width: 30px;
        height: 2px;
        background-color: #fff;
        text-align: center;
        margin: auto;
      }

      h2 {
      font-size: clamp(30px, 3.8rem, 45px);
      text-align: center;
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 30px;
        line-height: 2;
        font-size: 1rem;
      }
    }

    
  }
  .panel3 {
    background-color: #000;
    color: red;
  }
}
