.signupSection {
  // width: 100%;
  // text-align: center;
  // margin-top: 100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .signupInfo {
    width: 400px;
    margin: 30px auto;

    .signupInner {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      text-align: left;

      input {
        padding: 10px;
        border-radius: 10px;
      }

      button {
        padding: 10px;
        border: none;
        margin-top: 20px;
        border-radius: 10px;
        background-color: #111;
        color: #fff;
        cursor: pointer;

        &:hover {
          background-color: #eee;
          border: 1px solid #111;
          font-weight: bold;
          color: #111;
        }
      }
    }
  }
}