.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: relative;
  background: #111;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.6);

  .image {
    border-radius: 12px;
    max-width: 90vw;
    max-height: 80vh;
    object-fit: cover;
    border: 2px solid #ccc;
  }

  .closeBtn {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50px;
    background: #fff;
    color: #000;
    font-size: 1.2rem;
    cursor: pointer;
  }
}