.loginSection {
  width: 100vw;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;

  .loginWrap {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;

    input {
      width: 100%;
      padding: 10px 20px;
      border-radius: 10px;
    }

    button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 10px;
      background-color: #111;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        border: 1px solid #111;
        font-weight: bold;
        color: #111;
      }
    }
  }
}