.page {
  width: 100%;
  // height: calc(100vh - 90px);
  height: 100vh;
  background-color: #111;

  .hero {
    width: 100%;
    height: 100vh;
    position: relative;

    .swiper {
      width: 100%;
      height: 100vh;
      position: relative;

      .slide {
        width: 100%;
        height: 100vh;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
        
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
        
        .overlay {
          position: absolute;
          inset: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
          color: #fff;

          h2 {
            font-size: clamp(35px, 4vw, 60px);
          }
        }
      }
    }
  }
}